* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
    /* Center */
    display: flex;
    justify-content: center;
    align-items: center;
}
.users {
    /* Size */
    width: 80%;
    height: 70%;
    /* Grid */
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 260px 240px;
    gap: 25px;
    grid-template-areas: 
    "user__one user__one user__two user__five"
    "user__three user__four user__four user__five";
    /* Font */
    font-family: Barlow Semi Condensed;
    color: white;
}

.user__one {
    grid-area: user__one;
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    box-shadow: 0px 1px 20px 0px #00000014
}

.quotation--img {
    position: relative;
    top: -610%;
    left: 80px;
    grid-column: 2 / 3;
    width: 90px;
    height: 90px;
}

.user__two {
    grid-area: user__two;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    box-shadow: 0px 1px 20px 0px #00000014
}
.user__three {
    grid-area: user__three;
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    border-radius: 10px;
    /* Shadow */
    box-shadow: 0px 1px 20px 0px #00000014
}
.user__four {
    grid-area: user__four;
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
    /* Shadow */
    box-shadow: 0px 1px 20px 0px #00000014
}
.user__five {
    grid-area: user__five;
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    border-radius: 10px;
    /* Shadow */
    box-shadow: 0px 1px 20px 0px #00000014
}



.user--avatar {
    width: 30px;
    height: 30px;
    position: relative;
    top: 20px;
    left: 30px;
    border-radius: 50%;
    float: left;
}

.user__one .user--avatar,
.user__two .user--avatar {
    border: 2px solid hsl(217, 19%, 35%);
}
.user__four .user--avatar {
    border: 2px solid hsl(263, 55%, 52%);
}

.user--name {
    position: relative;
    top: 22px;
    left: 45px;
    font-size: 0.7rem;
    font-weight: 600;
}
.user--verify {
    position: relative;
    top: 25px;
    left: 45px;
    font-size: 5px;
    font-weight: 500;
    opacity: 50%;
}
.user--text-1 {
    display: inline-block;
    position: relative;
    top: 40px;
    left: 2px;
    font-size: 1.2rem;
    font-weight: 500;
    width: 88%;
    z-index: 10;
}
.user--text-2 {
    display: inline-block;
    position: relative;
    top: 55px;
    left: 33px;
    font-size: 11.8px;
    font-weight: 500;
    line-height: 16px;
}
.user__one .user--text-2 {
    width: 82%;
    opacity: 50%;
}
.user__two .user--text-2 {
    width: 70%;
    opacity: 50%;
}
.user__three .user--text-1,
.user__three .user--text-2 {
    width: 70%;
    opacity: 70%;
}
.user__four .user--text-2 {
    width: 80%;
    opacity: 50%;
}
.user__five .user--text-2 {
    width: 70%;
    opacity: 70%;
}

.attribution{
    position: absolute;
    top: 96%;
    font-size: 13.5px;
    font-weight: 600;
    color: #19212e;
    transition: all 0.3s ease-out;
    font-family: Arial, Helvetica, sans-serif;
  }
  .attribution a{
    text-decoration: none;
    color: #7541c8;
    transition: all 0.3s ease-out;
  }
  .attribution a:hover{
    color: #19212e;
  }



/* Mobile */
@media (max-width:375px) {
    body {
        max-width: 100%;
/*         height: 100%;
        margin: 100px auto; */
    }
    .users {
        display: grid;
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: 410px 255px 240px 390px 510px;
        grid-template-areas: 
        "user__one"
        "user__two"
        "user__three"
        "user__four"
        "user__five";
        width: 250px;
    }
    .quotation--img {    
        position: relative;
        top: 0;
        left: 135px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 90px;
        height: 90px;
    }
    .attribution{
/*         top: 253%;
        font-size: 11.5px; */
        display:none;
    }
}

/* Desktop */
@media (max-width:1440px) {
    
}

